
.button {
    margin-right: 16px;
    text-decoration: none;
    color: black;
}
.button:hover {
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
}
.text {
    font-weight: bold;
}